# Week 7 Lab: Plotting Anomalies

Data for lab obtained from Kaggle - [Computer Network Traffic](https://www.kaggle.com/datasets/crawford/computer-network-traffic). 

Computer Network Traffic Data - A ~500K CSV with summary of some real network traffic data from the past. The dataset has ~21K rows and covers 10 local workstation IPs over a three month period. Half of these local IPs were compromised at some point during this period and became members of various botnets.

Content - Each row consists of four columns:

- date: yyyy-mm-dd (from 2006-07-01 through 2006-09-30)
- l_ipn: local IP (coded as an integer from 0-9)
- r_asn: remote ASN (an integer which identifies the remote ISP)
- f: flows (count of connnections for that day)

Reports of "odd" activity or suspicions about a machine's behavior triggered investigations on the following days (although the machine might have been compromised earlier)

Date : IP

08-24 : 1

09-04 : 5

09-18 : 4

09-26 : 3 6

---

##### Importing packages and data

In [1]:
import pandas as pd
import matplotlib.pyplot as plt

file_name = 'cs448b_ipasn.csv'

In [10]:
df_traffic = pd.read_csv(file_name)
df_traffic.head(10)

         date  l_ipn  r_asn   f
0  2006-07-01      0    701   1
1  2006-07-01      0    714   1
2  2006-07-01      0   1239   1
3  2006-07-01      0   1680   1
4  2006-07-01      0   2514   1
5  2006-07-01      0   3320   1
6  2006-07-01      0   3561  13
7  2006-07-01      0   4134   3
8  2006-07-01      0   5617   2
9  2006-07-01      0   6478   1

##### Quick Data Exploration

In [11]:
df_traffic.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20803 entries, 0 to 20802
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   date    20803 non-null  object
 1   l_ipn   20803 non-null  int64
 2   r_asn   20803 non-null  int64
 3   f       20803 non-null  int64
dtypes: int64(3), object(1)
memory usage: 650.2+ KB

No nulls meaning no null handling needed.

Data type of date should be converted to datetime.

In [12]:
df_traffic.describe()

              l_ipn         r_asn              f
count  20803.000000  20803.000000   20803.000000
mean       4.228236  12138.320338      93.914243
std        3.278183   9766.324252    5764.995269
min        0.000000      3.000000       1.000000
25%        1.000000   4323.000000       1.000000
50%        4.000000   8764.000000       2.000000
75%        7.000000  17676.000000       8.000000
max        9.000000  40092.000000  784234.000000

First two variables are ignorable as it is on the system. Looking at f or flows, the max is unusually high as we can see that the mean is 2. This means that there exists an anomaly somewhere in the dataset.

##### Data Preparation for Plotting

In [17]:
# Convert date to timestamp first

df_traffic['date'] = pd.to_datetime(df_traffic['date'])
print(df_traffic['date'].dtypes)
df_traffic['date'].head(5)

datetime64[ns]

0   2006-07-01
1   2006-07-01
2   2006-07-01
3   2006-07-01
4   2006-07-01
Name: date, dtype: datetime64[ns]

##### Plot the anomaly